body{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0,0,0, 0.7)
        ),url(http://static.minitokyo.net/downloads/24/04/507724.jpg);
    font-family: 'Righteous', cursive;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
}
.Erreur{
    color: red;
}
#BMSscale{
    background-color: #424558;
    border: solid black 3px;
    width: 220px;
    margin-top: 50px;
    color: white;
    list-style-type: none;
    text-align: left;
    margin-bottom: 50px;
}
table{
    background-color: #424558;
    border: solid white 1px;
    list-style-type: none;
    text-align: left;
    color: white;
}
.linkInsane{
    background-color: #424558;
    border: solid black 3px;
    list-style-type: none;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 220px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
}
.InsaneRate{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}
.font-text{
    font-family: 'Slabo 27px', serif;
    font-size: 17px;
}
h1, h2, h3, h4, h5, h6, h7, h8, nav{
    font-family: 'Mirza', cursive;
}
nav{
    font-size: 25px;
}
li{
    list-style-type: none;
    display: inline-block;
    margin:0 0 0 15px;
}