body{
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0,0,0, 0.2)
        ),url(http://static.minitokyo.net/downloads/24/04/507724.jpg);
    font-family: 'Righteous', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
}
#BMSscale{
    border: solid white 1px;
    margin-top: 50px;
    color: white;
    list-style-type: none;
    text-align: left;
    margin-bottom: 200px;
    font-size: 18px
}
p, label, table, a{
    font-family: 'Slabo 27px', serif;
    font-size: 17px;
}
h1, h2, h3, h4, h5, h6, h7, h8, nav{
    font-family: 'Mirza', cursive;
    font-size: 30px;
}
li{
    list-style-type: none;
    display: inline-block;
    margin:0 0 0 15px;
}